@media screen and (max-width:992px){ /*For Nav menu*/
  nav {
    background-color: #039be5 !important;
  }
  #sub-heading {
    width: 80%;
  }
}
@media screen and (max-width:900px){
  #git-cards p{
    font-size: 14px;
  }
  #sub-heading p {
      font-size: 20px;
  }
}
@media screen and (max-width:870px){
  #git-cards span{
    font-size: 21px;
  }
  #git-cards p{
    font-size: 13.5px;
  }
}
@media screen and (max-width:760px){
  .welcome h2 {
      font-size: 3.4rem;
  }
  #sub-heading p {
      font-size: 18px;
  }
  #git-cards span{
    font-size: 18.5px;
  }
  #git-cards p{
    font-size: 13px;
  }
  #git-cards a{
    font-size: 13px;
  }
}
@media screen and (max-width:670px){
  .welcome h2 {
      font-size: 3.25rem;
  }
  #sub-heading {
    width: 85%;
  }
  #sub-heading p {
      font-size: 17.5px;
  }
  #git-cards span{
    font-size: 16px;
  }
  #git-cards p{
    font-size: 15px;
  }
  #git-cards a{
    font-size: 12px;
  }
}
@media screen and (max-width:600px){
  #github-profile {
    height: 120px;
  }
  #github-profile h5{
    font-size: 17px;
  }
  .welcome h2 {
    font-size: 2.8rem;
  }
  .welcome{
    margin: 0;
    padding: 0;
  }
  #sub-heading {
    width: 95%;
  }
  #sub-heading p {
    font-size: 18.5px;
  }
  #git-cards {
    width: 75%;
  }
  #git-cards span{
    font-size: 19.5px;
  }
  #git-cards p{
    font-size: 15.5px;
  }
  #git-cards a{
    font-size: 13px;
  }
}
@media screen and (max-width:492px){
  .welcome h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width:420px){
  #github-profile {
    width: 20%;
    min-width: 75px;
  }
  #github-picture {
    width: 100%;
    height: auto;
  }
  .welcome h2 {
    font-size: 2rem;
  }
  #sub-heading p {
    font-size: 16px;
  }
}
