* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
  background-image: url(../img/background_image.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.nav_wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 5px 0 5px 15%;
  background-color: rgba(0, 0, 0, 0.7);
}

.name {
  position: relative;
  color: #9b59b6;
  width: 230px;
}

.name #github_picture {
  width: 50px;
  height: 50px;
}

.name span {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 60px;
  font-weight: 900;
}

.name p {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 60px;
  font-size: 12px;
}

.nav_links {
  position: absolute;
  top: 5px;
  right: 20%;
  height: 50px;
  text-align: right;
}

.nav_links a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16.5px 13px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
}

.nav_links a:hover {
  border-bottom: 2px solid #3498db;
}

.nav_links a:active {
  background-color: rgba(51, 152, 219, 0.25);
  border-bottom: 3px solid #3498db;
}

.home_content {
  color: #fff;
  padding: 60px 6% 0 6%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper {
  flex: 1;
  height: 230px;
  margin: 0 10%;
  opacity: 0.95;
}

.home_content h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 25px;
}

.home_content a#hire {
  display: inline-block;
  background-color: #3498db;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 18px 26px;
  border-radius: 3px;
  margin-top: 40px;
}

.home_content a#hire .fa-chevron-right {
  margin-left: 20px;
}

.separator {
    margin: 0 auto;
    background: url(../img/separator.png);
    height: 9px;
    width: 570px;
    text-align: center;
}

.portfolio_content {
  background-color: #fff;
  overflow: auto;
}

.projects {
  height: 400px;
  width: 1000px;
  padding: 62.5px 0;
  margin: 0 auto;
}

.projects img {
  height: 275px;
  float: left;
}

.projects .project_info {
  float: left;
  height: 275px;
  width: 360px;
  margin: 10px 0 0 50px;
}

.projects .project_info h2 {
  font-size: 29px;
  font-weight: 700;
  margin-bottom: 20px;
}

.projects .project_info p {
  font-size: 16px;
  line-height: 25px;
  color: #aaa;
  margin-bottom: 20px;

}
.projects .project_info a {
  opacity: 0.8;
  background-color: #3498db;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 6px;
  border-radius: 5px;
}

.portfolio_content a#more_projects {
  display: block;
  margin: 5px auto 35px auto;
  color: #2980b9;
  width: 300px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.contact_content {
  color: rgba(255,255,255,0.95);
  background-color: #2c3e50;
  text-align: center;
  line-height: 30px;
  padding: 50px 0 0 0;
  position: relative;
}

.contact_content h1{
  font-size: 30px;
}

.contact_content h3{
  margin: 20px 0 0 0;
  font-size: 19px;
  font-weight: 300;
  padding: 0 25%;
}

.social_media a {
  cursor: pointer;
  padding: 16.5px;
  text-align: center;
  margin: 50px 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.3);
  display: inline-block;
  color: rgba(255,255,255,0.85);
}

.social_media a:hover {
  background-color: #fff;
  color: #1abc9c;
}

.social_media a:active {
  color: #2ecc71;
}

.social_media a i {
  font-size: 45px;
}


/* Media queries to make the website responsive to large and small screens */
/* Small screens: */
@media screen and (max-width: 992px) {

}
/* Ipads: */
@media screen and (max-width: 768px) {

}
/* Mobile Phones: */
@media screen and (max-width: 500px) {

}
