* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-image: url(../img/background_image.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.name {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 20%;
  color: #3498db;
  width: 230px;
}

.name #github_picture {
  width: 50px;
  height: 50px;
}

.name span {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 0;
  font-weight: 900;
}

.name p {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 0;
  font-size: 12px;
}

.nav {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 20%;
  color: #fff;
  height: 50px;
  text-align: right;
}

.nav span {
  display: inline-block;
  padding: 16.5px 13px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
}

.nav_selected {
  border-bottom: 2px #3498db solid;
}

.wrapper {
  width: 300%;
  height: calc(100% - 70px);
  position: absolute;
  top: 0;
  left: -100%;
  padding-top: 70px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.home_content {
  box-sizing: border-box;
  color: #fff;
  padding: 0 6%;
  flex: 1;
  height: 100%;
  min-width: 33.33333%;
  /* display: inline-block; */
}

.home_content h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}

.home_content a#hire {
  display: inline-block;
  background-color: #3498db;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 18px 26px;
  border-radius: 3px;
  margin-top: 35px;
}

.home_content a#hire .fa-chevron-right {
  margin-left: 20px;
}

.portfolio_content {
  /* display: inline-block; */
  color: #f3f3f3;
  height: 100%;
  min-width: 33.333333%;
  background-color: #000;
}

.contact_content {
  /* display: inline-block; */
  background-color: #f3f3f3;
  height: 100%;
  width: 33.333333%;
  background-color: #bbb;
}

.page_navigation {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 80px;
  top: 0;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #ccc;
  -webkit-animation: pulse 1.5s ease-in-out infinite;
    -moz-animation: pulse 1.5s ease-in-out infinite;
        animation: pulse 1.5s ease-in-out infinite;
  /* background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(179,179,179,0) 70%, rgba(255,255,255,0.05) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(179,179,179,0) 70%,rgba(255,255,255,0.05) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(179,179,179,0) 70%,rgba(255,255,255,0.05) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0dffffff',GradientType=1 ); */
}

.page_navigation i {
  display: block;
}

.left {
  left: 0;
}

.right {
  right: 0;
}


@-webkit-keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: 0.65;}
  100% {opacity: 1;}
}
@-moz-keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: 0.65;}
  100% {opacity: 1;}
}
@keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: 0.65;}
  100% {opacity: 1;}
}
